body{
    background-color: rgb(111, 146, 168);
    border: 0;
    margin: 0;
    padding: 0;
    
}
.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    color: white;
    background-color: rgb(88, 134, 163) ;
    font-size: small;
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 0;
}
ul {
    display: flex;
    color: rgb(67, 97, 129);
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgb(67, 97, 129);
    margin-bottom: 0;
    margin-top: 0;
}
a {
    color: rgb(255, 247, 234);
    text-decoration: none;
}
#navbar{
    background-color: rgb(100, 83, 255);
    padding: 0;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
#icon{
    width: 800px;
    height: 150px;
    
}
#icon2{
    width: 800px;
    height: 150px;
}
#texto1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:rgb(88, 134, 163) ;
    border-style: solid;
    border-color: white;
    margin: 20px;
}
.desenho{
    width: 300px;
    height: 200px;
    margin-right: 10px;
}
.tx{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    text-align: left;
}
#texto2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color:rgb(88, 134, 163) ;
    border-style: solid;
    border-color: white;
    margin: 100px;
}
